{{define "title"}}All Fans - Show Bookings{{end}}

{{define "content"}}
<h1>List of all Fans</h1>
<div class="content">
        {{if .Fans}}
            {{range .Fans}}
            <div class="event-card">
                <a href="/fan/{{.Nom}}">
                    <h2>{{.Nom}}</h2>
                </a>
                <div class="event-details">
                    <p><strong>Artist:</strong> {{.Show.Artist.Nom}}</p>
                    <p><strong>Genre:</strong> {{.Show.Artist.Genre}}</p>
                    <p><strong>Date:</strong> {{.Show.Date.Format "January 2, 2006"}}</p>
                    <p><strong>Time:</strong> {{.Show.Date.Format "15:04"}}</p>
                    <p><strong>Location:</strong> {{.Show.Place}}</p>
                    <p><strong>Price:</strong> {{.Price}}€</p>
                </div>
            </div>
            {{end}}
        {{else}}
        <div class="empty-state">
            <p>No fans registered yet. <a href="/fans/new">Add the first fan!</a></p>
            </div>
        {{end}}
        </div>
        {{end}}

{{template "base.html" .}}