{{define "title"}}{{.Title}} - Show Bookings{{end}}

{{define "content"}}
<h1>{{.Title}}</h1>
<div class="content">
        {{if .Fans}}
            {{range .Fans}}
            <div class="event-card">
                <h2>{{.Show.Artist.Nom}}</h2>
                <div class="event-details">
                    <p><strong>Fan:</strong> {{.Nom}}</p>
                    <p><strong>Artist:</strong> {{.Show.Artist.Nom}}</p>
                    <p><strong>Genre:</strong> {{.Show.Artist.Genre}}</p>
                    <p><strong>Date:</strong> {{.Show.Date.Format "January 2, 2006"}}</p>
                    <p><strong>Time:</strong> {{.Show.Date.Format "15:04"}}</p>
                    <p><strong>Location:</strong> {{.Show.Place}}</p>
                    <p><strong>Price:</strong> {{.Price}}€</p>
                </div>
            </div>
            {{end}}
        {{else}}
        <div class="empty-state">
            <p>No bookings found for this fan.</p>
            </div>
        {{end}}
        </div>
        {{end}}

{{template "base.html" .}}