{{define "title"}}Shows by Artist - Show Bookings{{end}}

{{define "content"}}
<h1>List of all Shows by Artist</h1>
<div class="content">
        {{if .Shows}}
            {{range .Shows}}
            <div class="event-card">
                <h2>{{.Artist.Nom}}</h2>
                <div class="event-details">
                    <p><strong>Artist:</strong> {{.Artist.Nom}}</p>
                    <p><strong>Genre:</strong> {{.Artist.Genre}}</p>
                    <p><strong>Date:</strong> {{.Date.Format "January 2, 2006"}}</p>
                    <p><strong>Time:</strong> {{.Date.Format "15:04"}}</p>
                    <p><strong>Location:</strong> {{.Place}}</p>
                </div>
            </div>
            {{end}}
        {{else}}
        <div class="empty-state">
            <p>No shows found for this artist.</p>
            </div>
        {{end}}
        </div>
        {{end}}

{{template "base.html" .}}